.blog {
    width: 1200px;
    padding: 53px 30px 35px 30px;
    margin-top: 80px;
    background-color: rgba(49, 15, 50, 1);
    border-radius: 20px;
    margin-bottom: 170px;
}

.title {
    color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.description{
    margin-top: 20px;
color: rgba(201, 223, 255, 0.80);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
&:nth-child(3){
    margin-top: 25px;
}
&:nth-child(4){
    margin-top: 25px;
}

}

.descriptionItem {
    margin-top: 15px;
    color: rgba(201, 223, 255, 0.80);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
&::before{
    content: "•";
    color: rgba(100, 97, 152, 1);
    margin-right: 5px;
}
}