.home {
    width: 1200px;
    padding-top: 30px;
    display: flex;
    gap: 30px;
}

.activeCoins {
    display: flex;
    gap: 30px;
}

.choices {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    margin-bottom: 45px;
}
